src/main/mule/core-banking-accounts-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

  <!-- GET /accounts - Business Logic Flow -->
  <flow name="get-accounts-business-logic" doc:name="get-accounts-business-logic">
    <try doc:name="Try">
      <ee:transform doc:name="Mock Select Accounts with Owners">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var params = payload default {}
var limit = (params.limit as Number default 100) as Number
var offset = (params.offset as Number default 0) as Number
---
// Mock data - simulating database query results
[
  {
    id: "acc-001",
    account_number: params.accountNumber default "ACC-000001",
    account_type: params.accountType default "Checking",
    account_name: "Primary Checking Account",
    currency: "USD",
    balance: 5000.00,
    available_balance: 4950.00,
    status: params.status default "Active",
    opened_date: "2024-01-15T00:00:00Z" as DateTime,
    closed_date: null,
    interest_rate: 0.01,
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: "2024-01-20T00:00:00Z" as DateTime
  },
  {
    id: "acc-002",
    account_number: "ACC-000002",
    account_type: "Savings",
    account_name: "Savings Account",
    currency: "USD",
    balance: 10000.00,
    available_balance: 10000.00,
    status: "Active",
    opened_date: "2024-02-01T00:00:00Z" as DateTime,
    closed_date: null,
    interest_rate: 0.025,
    created_at: "2024-02-01T00:00:00Z" as DateTime,
    updated_at: "2024-02-01T00:00:00Z" as DateTime
  }
] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform to Account Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((account) -> {
  id: account.id,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: [],
  createdAt: account.created_at,
  updatedAt: account.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="7c320052-c508-4655-9caa-122a076f36ab" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /accounts - Business Logic Flow -->
  <flow name="create-account-business-logic" doc:name="create-account-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  account_number: payload.accountNumber,
  account_type: payload.accountType,
  account_name: payload.accountName default null,
  currency: payload.currency default "USD",
  balance: payload.balance default 0.00,
  available_balance: payload.availableBalance default payload.balance default 0.00,
  status: payload.status default 'Active',
  opened_date: payload.openedDate default null,
  closed_date: payload.closedDate default null,
  interest_rate: payload.interestRate default null
}]]></ee:set-payload>
      </ee:message>
      <ee:variables>
        <ee:set-variable variableName="owners"><![CDATA[%dw 2.0
output application/java
---
payload.owners default []]]></ee:set-variable>
      </ee:variables>
    </ee:transform>

    <try doc:name="Try">
      <ee:transform doc:name="Mock Insert Account">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var req = payload
---
// Mock insert - return created account
[{
  id: "acc-" ++ (now() as String {format: "yyyyMMddHHmmssSSS"}),
  account_number: req.account_number,
  account_type: req.account_type,
  account_name: req.account_name default null,
  currency: req.currency default "USD",
  balance: req.balance default 0.00,
  available_balance: req.available_balance default (req.balance default 0.00),
  status: req.status default "Active",
  opened_date: req.opened_date default now(),
  closed_date: req.closed_date default null,
  interest_rate: req.interest_rate default null,
  created_at: now(),
  updated_at: now()
}]]]></ee:set-payload>
        </ee:message>
        <ee:variables>
          <ee:set-variable variableName="accountId"><![CDATA[%dw 2.0
output application/java
---
payload[0].id]]></ee:set-variable>
          <ee:set-variable variableName="account"><![CDATA[%dw 2.0
output application/java
---
payload[0]]]></ee:set-variable>
        </ee:variables>
      </ee:transform>

      <ee:transform doc:name="Mock Get Owners">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var owners = vars.owners default []
---
// Mock owners data
owners map ((owner) -> {
  customer_id: owner.customerId,
  relationship_type: owner.relationshipType default "Primary"
}) default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var account = vars.account
var owners = payload
---
{
  id: account.id,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: owners map ((owner) -> {
    customerId: owner.customer_id,
    relationshipType: owner.relationship_type
  }),
  createdAt: account.created_at,
  updatedAt: account.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="201" doc:name="httpStatus" doc:id="94fe90a1-bf1a-4e70-8d3b-00f44171e627" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while creating the account",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="2ffef3d2-8694-49db-bfe4-8f8be52a19b8" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /accounts/{accountId} - Business Logic Flow -->
  <flow name="get-account-by-id-business-logic" doc:name="get-account-by-id-business-logic">
    <try doc:name="Try">
      <ee:transform doc:name="Mock Select Account by ID">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var accountId = vars.accountId
---
// Mock data - return account if accountId matches, otherwise empty array
if (accountId != null and accountId != "")
  [{
    id: accountId,
    account_number: "ACC-000001",
    account_type: "Checking",
    account_name: "Primary Checking Account",
    currency: "USD",
    balance: 5000.00,
    available_balance: 4950.00,
    status: "Active",
    opened_date: "2024-01-15T00:00:00Z" as DateTime,
    closed_date: null,
    interest_rate: 0.01,
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: "2024-01-20T00:00:00Z" as DateTime
  }]
else
  []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <choice doc:name="Account Found?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Store Account">
            <ee:variables>
              <ee:set-variable variableName="account"><![CDATA[%dw 2.0
output application/java
---
payload[0]]]></ee:set-variable>
            </ee:variables>
          </ee:transform>

          <ee:transform doc:name="Mock Get Owners">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
// Mock owners data
[{
  customer_id: "cust-001",
  relationship_type: "Primary"
}] default []]]></ee:set-payload>
            </ee:message>
          </ee:transform>

          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var account = vars.account
var owners = payload
---
{
  id: account.id,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: owners map ((owner) -> {
    customerId: owner.customer_id,
    relationshipType: owner.relationship_type
  }),
  createdAt: account.created_at,
  updatedAt: account.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="200" doc:name="httpStatus" doc:id="bebce04d-9da2-4024-bc0d-d593708650b0" variableName="httpStatus"/>
        
</when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Account not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="404" doc:name="httpStatus" doc:id="da2fcef2-c579-4a34-a4a9-ceb3e96e5e92" variableName="httpStatus"/>
        
</otherwise>
      </choice>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d49217d7-4216-4e11-84d6-430c32f4a848" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- PUT /accounts/{accountId} - Business Logic Flow -->
  <flow name="update-account-business-logic" doc:name="update-account-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  accountId: vars.accountId,
  account_number: payload.accountNumber default null,
  account_type: payload.accountType default null,
  account_name: payload.accountName default null,
  currency: payload.currency default null,
  balance: payload.balance default null,
  available_balance: payload.availableBalance default null,
  status: payload.status default null,
  opened_date: payload.openedDate default null,
  closed_date: payload.closedDate default null,
  interest_rate: payload.interestRate default null
}]]></ee:set-payload>
      </ee:message>
      <ee:variables>
        <ee:set-variable variableName="owners"><![CDATA[#[payload.owners default null]]]></ee:set-variable>
      </ee:variables>
    </ee:transform>

    <try doc:name="Try">
      <ee:transform doc:name="Mock Update Account">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var req = payload
var accountId = req.accountId
---
// Mock update - return updated account if accountId exists
if (accountId != null and accountId != "")
  [{
    id: accountId,
    account_number: req.account_number default "ACC-000001",
    account_type: req.account_type default "Checking",
    account_name: req.account_name default "Primary Checking Account",
    currency: req.currency default "USD",
    balance: req.balance default 5000.00,
    available_balance: req.available_balance default 4950.00,
    status: req.status default "Active",
    opened_date: req.opened_date default ("2024-01-15T00:00:00Z" as DateTime),
    closed_date: req.closed_date default null,
    interest_rate: req.interest_rate default 0.01,
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: now()
  }]
else
  []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <choice doc:name="Update Successful?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Store Account ID">
            <ee:variables>
              <ee:set-variable variableName="accountId"><![CDATA[#[payload[0].id]]]></ee:set-variable>
              <ee:set-variable variableName="updatedAccount"><![CDATA[%dw 2.0
output application/java
---
payload[0]]]></ee:set-variable>
            </ee:variables>
          </ee:transform>
          
          <choice doc:name="Update Owners?">
            <when expression="#[vars.owners != null]">
              <!-- Mock: Delete and Insert Owners - no-op in mock -->
              <set-variable value="#[vars.owners]" variableName="owners" doc:name="No-op: Keep owners"/>
            </when>
          </choice>
          
          <ee:transform doc:name="Mock Get Owners">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
// Mock owners data
[{
  customer_id: "cust-001",
  relationship_type: "Primary"
}] default []]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          
          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var account = vars.updatedAccount
var owners = payload
---
{
  id: account.id,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: owners map ((owner) -> {
    customerId: owner.customer_id,
    relationshipType: owner.relationship_type
  }),
  createdAt: account.created_at,
  updatedAt: account.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="200" doc:name="httpStatus" doc:id="d43d9b80-8880-4c92-8b2e-31b2c0c32430" variableName="httpStatus"/>
        
</when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Account not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="404" doc:name="httpStatus" doc:id="24aa9e69-304d-43c0-a20f-1d86dc580c45" variableName="httpStatus"/>
        
</otherwise>
      </choice>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while updating the account",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="b44605c0-69cd-4ba0-8159-4d6c8c9ec21b" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /accounts/{accountId}/transactions - Business Logic Flow -->
  <flow name="get-account-transactions-business-logic" doc:name="get-account-transactions-business-logic">
    <ee:transform doc:name="Build Query Parameters">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  accountId: vars.accountId,
  startDate: attributes.queryParams.startDate default null,
  endDate: attributes.queryParams.endDate default null,
  transactionType: attributes.queryParams.transactionType default null,
  status: attributes.queryParams.status default null,
  limit: (attributes.queryParams.limit as Number default 100) as String,
  offset: (attributes.queryParams.offset as Number default 0) as String
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <ee:transform doc:name="Mock Select Transactions">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var params = payload default {}
var accountId = params.accountId default vars.accountId
---
// Mock transactions data
[
  {
    id: "txn-001",
    transaction_number: "TXN-000001",
    account_id: accountId,
    transaction_type: params.transactionType default "Debit",
    amount: -100.00,
    currency: "USD",
    transaction_date: now(),
    value_date: now(),
    description: "Mock transaction",
    merchant_name: "Mock Merchant",
    category: "Shopping",
    check_number: null,
    reference_number: "REF-001",
    related_account_id: null,
    status: params.status default "Posted",
    dispute_status: "None",
    dispute_reason: null,
    created_at: now(),
    updated_at: now()
  }
] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((txn) -> {
  id: txn.id,
  transactionNumber: txn.transaction_number,
  accountId: txn.account_id,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountId: txn.related_account_id,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="858a8f8e-5b03-4001-8757-210847286979" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying transactions",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="f58a6275-05e5-4a6f-bca7-803ec8855393" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /accounts/{accountId}/transactions - Business Logic Flow -->
  <flow name="create-transaction-business-logic" doc:name="create-transaction-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  account_id: vars.accountId,
  transaction_number: payload.transactionNumber,
  transaction_type: payload.transactionType,
  amount: payload.amount,
  currency: payload.currency default "USD",
  transaction_date: payload.transactionDate default now(),
  value_date: payload.valueDate default null,
  description: payload.description default null,
  merchant_name: payload.merchantName default null,
  category: payload.category default null,
  check_number: payload.checkNumber default null,
  reference_number: payload.referenceNumber default null,
  related_account_id: payload.relatedAccountId default null,
  status: payload.status default 'Posted',
  dispute_status: payload.disputeStatus default 'None',
  dispute_reason: payload.disputeReason default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <ee:transform doc:name="Mock Insert Transaction">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var req = payload
---
// Mock insert - return created transaction
[{
  id: "txn-" ++ (now() as String {format: "yyyyMMddHHmmssSSS"}),
  transaction_number: req.transaction_number,
  account_id: req.account_id,
  transaction_type: req.transaction_type,
  amount: req.amount,
  currency: req.currency default "USD",
  transaction_date: req.transaction_date default now(),
  value_date: req.value_date default null,
  description: req.description default null,
  merchant_name: req.merchant_name default null,
  category: req.category default null,
  check_number: req.check_number default null,
  reference_number: req.reference_number default null,
  related_account_id: req.related_account_id default null,
  status: req.status default "Posted",
  dispute_status: req.dispute_status default "None",
  dispute_reason: req.dispute_reason default null,
  created_at: now(),
  updated_at: now()
}]]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var txn = payload[0]
---
{
  id: txn.id,
  transactionNumber: txn.transaction_number,
  accountId: txn.account_id,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountId: txn.related_account_id,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="201" doc:name="httpStatus" doc:id="6e8b6c05-93a8-499d-b0d0-6366ac8befa5" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while creating the transaction",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="b023816d-c818-4a36-8def-c33ce63b0e09" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /transactions/{transactionId} - Business Logic Flow -->
  <flow name="get-transaction-by-id-business-logic" doc:name="get-transaction-by-id-business-logic">
    <try doc:name="Try">
      <ee:transform doc:name="Mock Select Transaction by ID">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var transactionId = vars.transactionId
---
// Mock data - return transaction if transactionId matches, otherwise empty array
if (transactionId != null and transactionId != "")
  [{
    id: transactionId,
    transaction_number: "TXN-000001",
    account_id: "acc-001",
    transaction_type: "Debit",
    amount: -100.00,
    currency: "USD",
    transaction_date: now(),
    value_date: now(),
    description: "Mock transaction",
    merchant_name: "Mock Merchant",
    category: "Shopping",
    check_number: null,
    reference_number: "REF-001",
    related_account_id: null,
    status: "Posted",
    dispute_status: "None",
    dispute_reason: null,
    created_at: now(),
    updated_at: now()
  }]
else
  []]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      <choice doc:name="Transaction Found?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var txn = payload[0]
---
{
  id: txn.id,
  transactionNumber: txn.transaction_number,
  accountId: txn.account_id,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountId: txn.related_account_id,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="200" doc:name="httpStatus" doc:id="cbedaa58-fd37-4937-be8f-e83ac348e2eb" variableName="httpStatus"/>
        
</when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Transaction not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="404" doc:name="httpStatus" doc:id="f9e0d083-b9c9-41b9-a9ef-2179d85864d6" variableName="httpStatus"/>
        
</otherwise>
      </choice>
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="4cfb4f85-12fd-4dcb-ac2e-fe044bebf6f1" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- PUT /transactions/{transactionId} - Business Logic Flow -->
  <flow name="update-transaction-business-logic" doc:name="update-transaction-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  transactionId: vars.transactionId,
  transaction_number: payload.transactionNumber default null,
  transaction_type: payload.transactionType default null,
  amount: payload.amount default null,
  currency: payload.currency default null,
  transaction_date: payload.transactionDate default null,
  value_date: payload.valueDate default null,
  description: payload.description default null,
  merchant_name: payload.merchantName default null,
  category: payload.category default null,
  check_number: payload.checkNumber default null,
  reference_number: payload.referenceNumber default null,
  related_account_id: payload.relatedAccountId default null,
  status: payload.status default null,
  dispute_status: payload.disputeStatus default null,
  dispute_reason: payload.disputeReason default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <try doc:name="Try">
      <ee:transform doc:name="Mock Update Transaction">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var req = payload
var transactionId = req.transactionId
---
// Mock update - return updated transaction if transactionId exists
if (transactionId != null and transactionId != "")
  [{
    id: transactionId,
    transaction_number: req.transaction_number default "TXN-000001",
    account_id: "acc-001",
    transaction_type: req.transaction_type default "Debit",
    amount: req.amount default -100.00,
    currency: req.currency default "USD",
    transaction_date: req.transaction_date default now(),
    value_date: req.value_date default now(),
    description: req.description default "Mock transaction",
    merchant_name: req.merchant_name default "Mock Merchant",
    category: req.category default "Shopping",
    check_number: req.check_number default null,
    reference_number: req.reference_number default "REF-001",
    related_account_id: req.related_account_id default null,
    status: req.status default "Posted",
    dispute_status: req.dispute_status default "None",
    dispute_reason: req.dispute_reason default null,
    created_at: now(),
    updated_at: now()
  }]
else
  []]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      <choice doc:name="Update Successful?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var txn = payload[0]
---
{
  id: txn.id,
  transactionNumber: txn.transaction_number,
  accountId: txn.account_id,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountId: txn.related_account_id,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="200" doc:name="httpStatus" doc:id="cd8acdcd-0d03-463c-b045-cc55536304c3" variableName="httpStatus"/>
        
</when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Transaction not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="404" doc:name="httpStatus" doc:id="9e5ab194-b2d0-4d1b-b4e2-8b725947ed3e" variableName="httpStatus"/>
        
</otherwise>
      </choice>
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while updating the transaction",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="500" doc:name="httpStatus" doc:id="d7ba1b8f-3b61-4a9b-b2eb-c89627de2303" variableName="httpStatus"/>
        
</on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /transactions/{transactionId}/dispute - Business Logic Flow -->
  <flow name="create-dispute-business-logic" doc:name="create-dispute-business-logic">
    <try doc:name="Try">
      <ee:transform doc:name="Mock Create Dispute">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var transactionId = vars.transactionId
var disputeReason = payload.disputeReason default "Mock dispute reason"
---
// Mock create dispute - return transaction with dispute if transactionId exists
if (transactionId != null and transactionId != "")
  [{
    id: transactionId,
    transaction_number: "TXN-000001",
    account_id: "acc-001",
    transaction_type: "Debit",
    amount: -100.00,
    currency: "USD",
    transaction_date: now(),
    value_date: now(),
    description: "Mock transaction",
    merchant_name: "Mock Merchant",
    category: "Shopping",
    check_number: null,
    reference_number: "REF-001",
    related_account_id: null,
    status: "Posted",
    dispute_status: "Pending",
    dispute_reason: disputeReason,
    created_at: now(),
    updated_at: now()
  }]
else
  []]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      <choice doc:name="Dispute Created?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var txn = payload[0]
---
{
  id: txn.id,
  transactionNumber: txn.transaction_number,
  accountId: txn.account_id,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountId: txn.related_account_id,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="200" doc:name="httpStatus" doc:id="3d4793c0-bfec-4910-be53-12c7b52e7f5c" variableName="httpStatus"/>
        
</when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Transaction not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="404" doc:name="httpStatus" doc:id="379cfdca-ff77-4d69-a344-5a1bd22324e9" variableName="httpStatus"/>
        
</otherwise>
      </choice>
      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while creating the dispute",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="500" doc:name="httpStatus" doc:id="008d3340-db1b-4333-9f2a-c1b496508cf8" variableName="httpStatus"/>
        
</on-error-propagate>
      </error-handler>
    </try>
  </flow>

</mule>
