src/main/mule/core-banking-accounts-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:db="http://www.mulesoft.org/schema/mule/db"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

  <!-- GET /accounts - Business Logic Flow -->
  <flow name="get-accounts-business-logic" doc:name="get-accounts-business-logic">
    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
      <ee:transform doc:name="Mock Select Accounts" doc:id="mock-select-accounts">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    id: 1,
    account_number: "ACC001",
    account_type: "Checking",
    account_name: "Compte Courant Principal",
    currency: "USD",
    balance: 5000.00,
    available_balance: 4950.00,
    status: "Active",
    opened_date: "2024-01-01",
    closed_date: null,
    interest_rate: 0.01,
    created_at: "2024-01-01T10:00:00Z",
    updated_at: "2024-01-01T10:00:00Z"
  },
  {
    id: 2,
    account_number: "ACC002",
    account_type: "Savings",
    account_name: "Compte Épargne",
    currency: "USD",
    balance: 10000.00,
    available_balance: 10000.00,
    status: "Active",
    opened_date: "2024-01-02",
    closed_date: null,
    interest_rate: 0.02,
    created_at: "2024-01-02T10:00:00Z",
    updated_at: "2024-01-02T10:00:00Z"
  }
] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform to Account Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((account) -> {
  id: account.id,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: [],
  createdAt: account.created_at,
  updatedAt: account.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="6e0cefb3-034d-49c2-89a9-2ec74a964e5c" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="96664a60-6941-4879-8eba-fbf76b5b22b2" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /accounts - Business Logic Flow -->
  <flow name="create-account-business-logic" doc:name="create-account-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  account_number: payload.accountNumber,
  account_type: payload.accountType,
  account_name: payload.accountName default null,
  currency: payload.currency default "USD",
  balance: payload.balance default 0.00,
  available_balance: payload.availableBalance default payload.balance default 0.00,
  status: payload.status default 'Active',
  opened_date: payload.openedDate default null,
  closed_date: payload.closedDate default null,
  interest_rate: payload.interestRate default null
}]]></ee:set-payload>
      </ee:message>
      <ee:variables>
        <ee:set-variable variableName="owners"><![CDATA[%dw 2.0
output application/java
---
payload.owners default []]]></ee:set-variable>
      </ee:variables>
    </ee:transform>

    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB insert par des données mockées -->
      <ee:transform doc:name="Mock Insert Account" doc:id="mock-insert-account">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var data = payload
---
[{
  id: 1,
  account_number: data.account_number,
  account_type: data.account_type,
  account_name: data.account_name,
  currency: data.currency,
  balance: data.balance,
  available_balance: data.available_balance,
  status: data.status,
  opened_date: data.opened_date,
  closed_date: data.closed_date,
  interest_rate: data.interest_rate,
  created_at: now(),
  updated_at: now()
}]]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Store Account ID">
        <ee:variables>
          <ee:set-variable variableName="accountId"><![CDATA[%dw 2.0
output application/java
---
payload[0].id]]></ee:set-variable>
          <ee:set-variable variableName="account"><![CDATA[%dw 2.0
output application/java
---
payload[0]]]></ee:set-variable>
        </ee:variables>
      </ee:transform>

      <foreach doc:name="Insert Account Owners">
        <!-- MOCK: Remplacement de l'appel DB insert par des données mockées -->
        <ee:transform doc:name="Mock Insert Account Owner" doc:id="mock-insert-owner">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  success: true
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
      </foreach>

      <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
      <ee:transform doc:name="Mock Get Owners" doc:id="mock-get-owners">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    customer_id: "550e8400-e29b-41d4-a716-446655440000",
    relationship_type: "Primary"
  }
] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var account = vars.account
var owners = payload
---
{
  id: account.id,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: owners map ((owner) -> {
    customerId: owner.customer_id,
    relationshipType: owner.relationship_type
  }),
  createdAt: account.created_at,
  updatedAt: account.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="201" doc:name="httpStatus" doc:id="2f7e341a-d1ca-4d76-a064-09c3d6906ad7" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while creating the account",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="3cc10db3-619c-4d0b-927c-4fd035d6dafa" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /accounts/{accountId} - Business Logic Flow -->
  <flow name="get-account-by-id-business-logic" doc:name="get-account-by-id-business-logic">
    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
      <ee:transform doc:name="Mock Select Account by ID" doc:id="mock-select-account-by-id">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var accountId = vars.accountId default 1
---
[{
  id: accountId,
  account_number: "ACC001",
  account_type: "Checking",
  account_name: "Compte Courant Principal",
  currency: "USD",
  balance: 5000.00,
  available_balance: 4950.00,
  status: "Active",
  opened_date: "2024-01-01",
  closed_date: null,
  interest_rate: 0.01,
  created_at: "2024-01-01T10:00:00Z",
  updated_at: "2024-01-01T10:00:00Z"
}] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <choice doc:name="Account Found?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Store Account">
            <ee:variables>
              <ee:set-variable variableName="account"><![CDATA[%dw 2.0
output application/java
---
payload[0]]]></ee:set-variable>
            </ee:variables>
          </ee:transform>

          <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
          <ee:transform doc:name="Mock Get Owners" doc:id="mock-get-owners-2">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    customer_id: "550e8400-e29b-41d4-a716-446655440000",
    relationship_type: "Primary"
  }
] default []]]></ee:set-payload>
            </ee:message>
          </ee:transform>

          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var account = vars.account
var owners = payload
---
{
  id: account.id,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: owners map ((owner) -> {
    customerId: owner.customer_id,
    relationshipType: owner.relationship_type
  }),
  createdAt: account.created_at,
  updatedAt: account.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="200" doc:name="httpStatus" doc:id="82836fc2-c1b3-4ee9-96f0-5da1e836358d" variableName="httpStatus"/>
        
</when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Account not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="404" doc:name="httpStatus" doc:id="edf39af7-7d02-466b-bbb4-1f0fd8a30797" variableName="httpStatus"/>
        
</otherwise>
      </choice>
      
      <error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="92777e58-5cd9-415c-8594-41a69f107371" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- PUT /accounts/{accountId} - Business Logic Flow -->
  <flow name="update-account-business-logic" doc:name="update-account-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  accountId: vars.accountId,
  account_number: payload.accountNumber default null,
  account_type: payload.accountType default null,
  account_name: payload.accountName default null,
  currency: payload.currency default null,
  balance: payload.balance default null,
  available_balance: payload.availableBalance default null,
  status: payload.status default null,
  opened_date: payload.openedDate default null,
  closed_date: payload.closedDate default null,
  interest_rate: payload.interestRate default null
}]]></ee:set-payload>
      </ee:message>
      <ee:variables>
        <ee:set-variable variableName="owners"><![CDATA[#[payload.owners default null]]]></ee:set-variable>
      </ee:variables>
    </ee:transform>

    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB update par des données mockées -->
      <ee:transform doc:name="Mock Update Account" doc:id="mock-update-account">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var data = payload
---
[{
  id: data.accountId,
  account_number: data.account_number default "ACC001",
  account_type: data.account_type default "Checking",
  account_name: data.account_name default "Compte Courant",
  currency: data.currency default "USD",
  balance: data.balance default 5000.00,
  available_balance: data.available_balance default 4950.00,
  status: data.status default "Active",
  opened_date: data.opened_date default "2024-01-01",
  closed_date: data.closed_date,
  interest_rate: data.interest_rate default 0.01,
  created_at: "2024-01-01T10:00:00Z",
  updated_at: now()
}]]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <choice doc:name="Update Successful?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Store Account ID">
            <ee:variables>
              <ee:set-variable variableName="accountId"><![CDATA[%dw 2.0
output application/java
---
payload[0].id]]></ee:set-variable>
              <ee:set-variable variableName="updatedAccount"><![CDATA[%dw 2.0
output application/java
---
payload[0]]]></ee:set-variable>
            </ee:variables>
          </ee:transform>
          
          <choice doc:name="Update Owners?">
            <when expression="#[vars.owners != null]">
              <!-- MOCK: Remplacement de l'appel DB delete par des données mockées -->
              <ee:transform doc:name="Mock Delete Old Owners" doc:id="mock-delete-owners">
                <ee:message>
                  <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  success: true
}]]></ee:set-payload>
                </ee:message>
              </ee:transform>
              
              <foreach doc:name="Insert New Owners">
                <!-- MOCK: Remplacement de l'appel DB insert par des données mockées -->
                <ee:transform doc:name="Mock Insert New Owner" doc:id="mock-insert-new-owner">
                  <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  success: true
}]]></ee:set-payload>
                  </ee:message>
                </ee:transform>
              </foreach>
            </when>
          </choice>
          
          <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
          <ee:transform doc:name="Mock Get Owners" doc:id="mock-get-owners-3">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    customer_id: "550e8400-e29b-41d4-a716-446655440000",
    relationship_type: "Primary"
  }
] default []]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          
          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var account = vars.updatedAccount
var owners = payload
---
{
  id: account.id,
  accountNumber: account.account_number,
  accountType: account.account_type,
  accountName: account.account_name,
  currency: account.currency,
  balance: account.balance,
  availableBalance: account.available_balance,
  status: account.status,
  openedDate: account.opened_date,
  closedDate: account.closed_date,
  interestRate: account.interest_rate,
  owners: owners map ((owner) -> {
    customerId: owner.customer_id,
    relationshipType: owner.relationship_type
  }),
  createdAt: account.created_at,
  updatedAt: account.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="200" doc:name="httpStatus" doc:id="2441ca8b-c1dc-4766-b1ca-5e439b60bfbd" variableName="httpStatus" />
        
</when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Account not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="404" doc:name="httpStatus" doc:id="fc98a429-f711-4f9f-b206-075e66f9fc5a" variableName="httpStatus"/>
        
</otherwise>
      </choice>
      
      <error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while updating the account",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="e15237e6-7064-49dd-b358-ca2804b43bc5" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /accounts/{accountId}/transactions - Business Logic Flow -->
  <flow name="get-account-transactions-business-logic" doc:name="get-account-transactions-business-logic">
    <ee:transform doc:name="Build Query Parameters">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  accountId: vars.accountId,
  startDate: attributes.queryParams.startDate default null,
  endDate: attributes.queryParams.endDate default null,
  transactionType: attributes.queryParams.transactionType default null,
  status: attributes.queryParams.status default null,
  limit: (attributes.queryParams.limit as Number default 100) as String,
  offset: (attributes.queryParams.offset as Number default 0) as String
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
      <ee:transform doc:name="Mock Select Transactions" doc:id="mock-select-transactions">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
  {
    id: 1,
    transaction_number: "TXN001",
    account_id: 1,
    transaction_type: "Debit",
    amount: -100.00,
    currency: "USD",
    transaction_date: "2024-01-15",
    value_date: "2024-01-15",
    description: "Purchase at Store",
    merchant_name: "Store ABC",
    category: "Retail",
    check_number: null,
    reference_number: "REF001",
    related_account_id: null,
    status: "Posted",
    dispute_status: "None",
    dispute_reason: null,
    created_at: "2024-01-15T10:00:00Z",
    updated_at: "2024-01-15T10:00:00Z"
  }
] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((txn) -> {
  id: txn.id,
  transactionNumber: txn.transaction_number,
  accountId: txn.account_id,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountId: txn.related_account_id,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
})]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="56c90a17-517b-4227-b6f1-cb7f0072f2dd" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying transactions",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="67963f25-0e78-4c6f-bbc5-bba9ed823f2b" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /accounts/{accountId}/transactions - Business Logic Flow -->
  <flow name="create-transaction-business-logic" doc:name="create-transaction-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  account_id: vars.accountId,
  transaction_number: payload.transactionNumber,
  transaction_type: payload.transactionType,
  amount: payload.amount,
  currency: payload.currency default "USD",
  transaction_date: payload.transactionDate default now(),
  value_date: payload.valueDate default null,
  description: payload.description default null,
  merchant_name: payload.merchantName default null,
  category: payload.category default null,
  check_number: payload.checkNumber default null,
  reference_number: payload.referenceNumber default null,
  related_account_id: payload.relatedAccountId default null,
  status: payload.status default 'Posted',
  dispute_status: payload.disputeStatus default 'None',
  dispute_reason: payload.disputeReason default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB insert par des données mockées -->
      <ee:transform doc:name="Mock Insert Transaction" doc:id="mock-insert-transaction">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var data = payload
---
[{
  id: 1,
  transaction_number: data.transaction_number,
  account_id: data.account_id,
  transaction_type: data.transaction_type,
  amount: data.amount,
  currency: data.currency,
  transaction_date: data.transaction_date,
  value_date: data.value_date,
  description: data.description,
  merchant_name: data.merchant_name,
  category: data.category,
  check_number: data.check_number,
  reference_number: data.reference_number,
  related_account_id: data.related_account_id,
  status: data.status,
  dispute_status: data.dispute_status,
  dispute_reason: data.dispute_reason,
  created_at: now(),
  updated_at: now()
}]]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var txn = payload[0]
---
{
  id: txn.id,
  transactionNumber: txn.transaction_number,
  accountId: txn.account_id,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountId: txn.related_account_id,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="201" doc:name="httpStatus" doc:id="d160983a-887d-43ab-b838-bbbea94a1651" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while creating the transaction",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="cf095a39-2339-4bb2-98a6-bb27ab720d90" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /transactions/{transactionId} - Business Logic Flow -->
  <flow name="get-transaction-by-id-business-logic" doc:name="get-transaction-by-id-business-logic">
    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB select par des données mockées -->
      <ee:transform doc:name="Mock Select Transaction by ID" doc:id="mock-select-transaction-by-id">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var transactionId = vars.transactionId default 1
---
[{
  id: transactionId,
  transaction_number: "TXN001",
  account_id: 1,
  transaction_type: "Debit",
  amount: -100.00,
  currency: "USD",
  transaction_date: "2024-01-15",
  value_date: "2024-01-15",
  description: "Purchase at Store",
  merchant_name: "Store ABC",
  category: "Retail",
  check_number: null,
  reference_number: "REF001",
  related_account_id: null,
  status: "Posted",
  dispute_status: "None",
  dispute_reason: null,
  created_at: "2024-01-15T10:00:00Z",
  updated_at: "2024-01-15T10:00:00Z"
}] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      <choice doc:name="Transaction Found?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var txn = payload[0]
---
{
  id: txn.id,
  transactionNumber: txn.transaction_number,
  accountId: txn.account_id,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountId: txn.related_account_id,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="200" doc:name="httpStatus" doc:id="b1b35269-6910-4ca1-8467-8c4c5ef3f7ee" variableName="httpStatus"/>
        
</when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Transaction not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="404" doc:name="httpStatus" doc:id="5edfa6ca-cf47-4f97-b228-85a6c1d9afd8" variableName="httpStatus"/>
        
</otherwise>
      </choice>
      <error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="05436ac8-8bdb-4f5d-9162-1c16a66a6f2f" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- PUT /transactions/{transactionId} - Business Logic Flow -->
  <flow name="update-transaction-business-logic" doc:name="update-transaction-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  transactionId: vars.transactionId,
  transaction_number: payload.transactionNumber default null,
  transaction_type: payload.transactionType default null,
  amount: payload.amount default null,
  currency: payload.currency default null,
  transaction_date: payload.transactionDate default null,
  value_date: payload.valueDate default null,
  description: payload.description default null,
  merchant_name: payload.merchantName default null,
  category: payload.category default null,
  check_number: payload.checkNumber default null,
  reference_number: payload.referenceNumber default null,
  related_account_id: payload.relatedAccountId default null,
  status: payload.status default null,
  dispute_status: payload.disputeStatus default null,
  dispute_reason: payload.disputeReason default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB update par des données mockées -->
      <ee:transform doc:name="Mock Update Transaction" doc:id="mock-update-transaction">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var data = payload
---
[{
  id: data.transactionId,
  transaction_number: data.transaction_number default "TXN001",
  account_id: 1,
  transaction_type: data.transaction_type default "Debit",
  amount: data.amount default -100.00,
  currency: data.currency default "USD",
  transaction_date: data.transaction_date default "2024-01-15",
  value_date: data.value_date,
  description: data.description,
  merchant_name: data.merchant_name,
  category: data.category,
  check_number: data.check_number,
  reference_number: data.reference_number,
  related_account_id: data.related_account_id,
  status: data.status default "Posted",
  dispute_status: data.dispute_status default "None",
  dispute_reason: data.dispute_reason,
  created_at: "2024-01-15T10:00:00Z",
  updated_at: now()
}]]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      <choice doc:name="Update Successful?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var txn = payload[0]
---
{
  id: txn.id,
  transactionNumber: txn.transaction_number,
  accountId: txn.account_id,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountId: txn.related_account_id,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="200" doc:name="httpStatus" doc:id="59e3ee43-8e6c-4b70-83d8-5381d7d358c8" variableName="httpStatus"/>
        
</when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Transaction not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="404" doc:name="httpStatus" doc:id="ea0a92e5-da8f-4f17-86f3-f5b535f3cc41" variableName="httpStatus"/>
        
</otherwise>
      </choice>
      <error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while updating the transaction",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="500" doc:name="httpStatus" doc:id="16f0d1b6-c762-419e-ae44-26cf96f6913d" variableName="httpStatus"/>
        
</on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /transactions/{transactionId}/dispute - Business Logic Flow -->
  <flow name="create-dispute-business-logic" doc:name="create-dispute-business-logic">
    <try doc:name="Try">
      <!-- MOCK: Remplacement de l'appel DB update par des données mockées -->
      <ee:transform doc:name="Mock Create Dispute" doc:id="mock-create-dispute">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var data = payload
var transactionId = vars.transactionId default 1
---
[{
  id: transactionId,
  transaction_number: "TXN001",
  account_id: 1,
  transaction_type: "Debit",
  amount: -100.00,
  currency: "USD",
  transaction_date: "2024-01-15",
  value_date: "2024-01-15",
  description: "Purchase at Store",
  merchant_name: "Store ABC",
  category: "Retail",
  check_number: null,
  reference_number: "REF001",
  related_account_id: null,
  status: "Posted",
  dispute_status: "Pending",
  dispute_reason: data.disputeReason,
  created_at: "2024-01-15T10:00:00Z",
  updated_at: now()
}]]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      <choice doc:name="Dispute Created?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
var txn = payload[0]
---
{
  id: txn.id,
  transactionNumber: txn.transaction_number,
  accountId: txn.account_id,
  transactionType: txn.transaction_type,
  amount: txn.amount,
  currency: txn.currency,
  transactionDate: txn.transaction_date,
  valueDate: txn.value_date,
  description: txn.description,
  merchantName: txn.merchant_name,
  category: txn.category,
  checkNumber: txn.check_number,
  referenceNumber: txn.reference_number,
  relatedAccountId: txn.related_account_id,
  status: txn.status,
  disputeStatus: txn.dispute_status,
  disputeReason: txn.dispute_reason,
  createdAt: txn.created_at,
  updatedAt: txn.updated_at
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="200" doc:name="httpStatus" doc:id="0b592c46-6b13-4e95-ac60-cfde43b03788" variableName="httpStatus"/>
        
</when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Transaction not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="404" doc:name="httpStatus" doc:id="c98deb41-e1ce-483f-8574-10dcf5b5b7f6" variableName="httpStatus"/>
        
</otherwise>
      </choice>
      <error-handler>
        <on-error-propagate type="DB:QUERY_EXECUTION,DB:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="Database Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while creating the dispute",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
					<set-variable value="500" doc:name="httpStatus" doc:id="ac6833ae-04ae-4583-b5f3-2cc8422c876b" variableName="httpStatus"/>
        
</on-error-propagate>
      </error-handler>
    </try>
  </flow>

</mule>
